.fourbox{
    width: 85%;
    height: 242px;
    text-align: center;
    margin: 30px auto 0 auto;
}
.fourbox div{
    width: 24.5%;
    display: inline-block;
    border-radius: 16px;
}
.fourbox div img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
}