.swiper--3 {
    width: 80%;
    padding: 24px 0;
    border: 2px solid #f0f0f1;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;
}

.swiper--3 h3 {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.swiper--3 .swiper-slide {
    height: 118px;
    padding: 4px 16px;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #f0f0f1;

}

.swiper--3 img {
    width: 110px !important;
    height: 110px !important;
    object-fit: contain;
    vertical-align: middle;
    margin: 0 auto;

}