.twobox-2{
    width: 100%;
    height: 265px;
    text-align: center;
    margin-top: 50px;
}
.twobox-2 div{
    width: 49%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}
.twobox-2 div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}