.twobox{
    width: 85%;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}
.twobox div{
    width: 49.5%;
    display: inline-block;
    cursor: pointer;
}
.twobox div img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}