.twobox-2 {
    width: 80%;
    height: fit-content;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.twobox-2 div {
    width: 49.5%;
    display: inline-block;
    cursor: pointer;
}

.twobox-2 div img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}